<div class="container">
    <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-9">
            <p class="pull-right visible-xs"></p>
            <div class="my-jumbotron">
                <h1>BEERS!</h1>
                <p> {{ title }} {{ beers }} {{ title2 }} </p>
            </div>

            <!--  division for list all beers  -->
            <div class="row">
                <ul>
                    {{#each dbBeer}}
                    <div class="col-m-4 col-sm-4 col-xs-4">
                        <p>
                            <div class="btn btn-block" href="#" role="button"> {{this.name}}
                            </div>
                        </p>
                    </div>
                    {{/each}}
                </ul>
            </div>

            <!-- division for the matches to the beer search -->
            <div class="my-jumbotron">
                <p> {{ searchtitle }} </p>
                <ul>
                    {{#each beermatch}}
                        <div class="col-m-4 col-sm-4 col-xs-4">
                            <p>
                                <div class="btn btn-block" href="#" role="button"> {{this.name}}
                                </div>
                            </p>
                        </div>
                    {{/each}}
                </ul>
            </div>

        </div>

        <!-- The buttons on the right side of the main page -->
        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
            <div class="list-group">
                <div class="list-group">
                    <button type="button" class="list-group-item" data-toggle="modal" data-target="#beerFinderModal">
                    Beer Search
                    </button>
                    <!-- <form href="#" class="list-group-item" id="MatchBeerBtn">Beer Search</form> -->
                    <form action="/listAll" method="POST">
                        <input type="hidden" name="id" value="listAll">
                        <button class="list-group-item" type="submit">List All Beers</button>
                    </form>
                    <button type="button" class="list-group-item" data-toggle="modal" data-target="#beerAddModal">
                    Add a New Beer
                    </button>
                    <!-- <form id="addBeerBtn" class="list-group-item"  type="submit">Add a New Beer</form> -->
                </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
            </div>
        </div>
    </div>
</div>


<!-- the beer finder modal -->

<div class="modal fade" id="beerFinderModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <form action="/findNew" method="POST" id="beerModalForm">
                    <input type="text" name="matchName" placeholder="Enter a beer to match"></input>
                    <button type="submit" class="btn btn-info small" id="getTheDamThing">Search!</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal for the add new beer form -->
<div class="modal fade" id="beerAddModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h2>Add a beer to the data base</h2>
            </div>
            {{!-- Entry Form Goes HERE --}}
            <form action="/addBeer" method="POST" id="newBeerObj" class="form-inline">
                <div class="form-group">
                    <input type="text" class="form-control" name="name" placeholder="NAME"></input>
                </div>
                <div class="form-group">
                    <input type="newIbu" class="form-control" name="hoppieness" placeholder="IBU"></input>
                </div>
                <div class="form-group">
                    <input type="newColor" class="form-control" name="color" placeholder="COLOR"></input>
                </div>
                <div class="form-group">
                    <input type="newSmell" class="form-control" name="smell" placeholder="SMELL"></input>
                </div>
                <div class="form-group">
                    <input type="newType" class="form-control" name="style" placeholder="TYPE"></input>
                </div>
                <div class="form-group">
                    <input type="newFeel" class="form-control" name="feel" placeholder="TEXTURE"></input>
                </div>


<!--                  <div class="form-group">
                    <label for="newBeerName"></label>
                    <input type="text" class="form-control" id="newBrName" placeholder="NAME">
                 </div>
                <div class="form-group">
                    <label for="newBeerIbu"></label>
                    <input type="newIbu" class="form-control" id="newBeerIbu" placeholder="IBU">
                </div>
                <div class="form-group">
                    <label for="newBeerColor"></label>
                    <input type="newColor" class="form-control" id="newBeerColor" placeholder="COLOR">
                </div>
                <div class="form-group">
                    <label for="newBeerSmell"></label>
                    <input type="newSmell" class="form-control" id="newBeerSmell" placeholder="SMELL">
                </div>
               <div class="form-group">
                    <label for="newBeerType"></label>
                    <input type="newType" class="form-control" id="newBeerType" placeholder="TYPE">
                </div>
                <div class="form-group">
                    <label for="newBeerFeel"></label>
                    <input type="newFeel" class="form-control" id="newBeerFeel" placeholder="TEXTURE">
                </div>
                <br>
 -->            <br>
                <button type="submit" class="btn btn-success" id="addNewBeerBtn" >Submit</button>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>

// $("#addBeerBtn").on("click", function() {
//     $("#beerAddModal").modal("toggle", function(){
//         $("beerAddModal").modal('show')
//     })
// });

// $('#MatchBeerBtn').on('click', function() {
//     $("#beerFinderModal").modal('toggle', function(){
//         $("#beerFinderModal").modal('show')
//     })
// });


// $("#addNewBeerBtn").on("click", function(e){
//     e.preventDefault();
//     console.log("we're in the add beer click");
//     $("#beerAddModal").modal("toggle", function(){
//         $("beerAddModal").modal('hide')
//     });

//     var newBeerObj = {
//         name: $("#newBrName").val().trim(),
//         hoppieness: $("#newBeerIbu").val().trim(),
//         color: $("#newBeerColor").val().trim(),
//         style: $("#newBeerType").val().trim(),
//         smell: $("#newBeerSmell").val().trim(),
//         feel: $("#newBeerFeel").val().trim()
//         };

//     console.log(newBeerObj);

//     $.post("/addBeer", newBeerObj);
// });


</script>